body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}   

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboard-blocks {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}

.dashboard-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.dashboard-header-block {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; /* Add border to the entire block */
    border-radius: 5px;
}

.dashboard-child {
    flex: 1;
    margin: 10px;
}

.dashboard-text {
    font-size: 12px;
}

footer {
    flex-shrink: 0;
    border-radius: 6px;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: 100px;
}

    footer h4, footer h5 {
        color: inherit;
        font-size: inherit;
        margin: 0;
    }