@page "/myaccount"
@using PassKey.Login.MongoDb.Blazor.Server.UI.Data
@using PassKey.Login.MongoDb.Blazor.Server.UI.Service
@inject PassKey.Login.MongoDb.Blazor.Server.UI.IService.IUserService userService
@inject IJSRuntime jsRuntime



<div class="row">
    <div class="col-md-12">
        @if (User != null)
        {
                <h4>Your Devices</h4>
                
                @foreach (var use in Users)
                {
                            <div class="device-container">
                            <h4>@if(@use.System == "Windows" || @use.System == "Mac")
                                {
                                    <span class="oi oi-monitor device-icon"/>
                                }
                                else{
                                                <span class="oi oi-phone device-icon"/>
                                }
                                @use.System</h4>

                                <div class="current-device">@if(User.System == use.System)
                                    {<h5>Current Device</h5>}
                                </div>
                                          </div>
                 }
              
        }
        else
        {
                <p>No users found with this GroupID.</p>
        }
    </div>
    </div>

@code {
    List<Users> Users = new List<Users>();
    Users User = new Users();



    protected override async Task OnInitializedAsync()
    {

        string uniqueIdentifier = await jsRuntime.InvokeAsync<string>("localStorage.getItem", "userUniqueIdentifier");
        User = userService.GetUser(uniqueIdentifier);
        Users = userService.GetUsersByGroupID(User.GroupID);

    }

    private void Delete(string userId)
    {
        userService.Delete(User.Id);

    }
}

