.page-container[b-lhx34pritl] {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.main-content[b-lhx34pritl] {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
}

.left-section[b-lhx34pritl] {
    flex: 1;
    padding-right: 20px;
}

.right-section[b-lhx34pritl] {
    flex: 1;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.balance-banner[b-lhx34pritl] {
    background: linear-gradient(to top right, #CE1FB7, #014BB7);
    padding: 20px;
   font-weight: bold;
    color: white;
    border-radius: 5px;
}
.available-balance[b-lhx34pritl] {
    font-size: 24px;
    color: white;
}
.receiver-section[b-lhx34pritl] {
    margin-top: 20px;
}

.receiver-list[b-lhx34pritl] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.receiver-circle[b-lhx34pritl] {
    width: 80px;
    height: 80px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.add-receiver[b-lhx34pritl] {
    background-color: #007bff;
    color: white;
}

.receiver-name[b-lhx34pritl] {
    font-size: 14px;
    margin-top: 5px;
    align-items: center;
}

.send-payment-section[b-lhx34pritl] {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.input-column[b-lhx34pritl] {
    flex: 1;
    padding: 20px;
}

.card-image[b-lhx34pritl] {
  
    background: linear-gradient(to top right, #CE1FB7, #014BB7);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 320px; 
    height: 200px;
    color: white;
}

    .card-image img[b-lhx34pritl] {
        max-width: 100px;
       
    }

    .card-user[b-lhx34pritl]{
       
    }

.transaction-list[b-lhx34pritl] {
    width: 300px;
    padding: 20px;
    
}

.transaction-item[b-lhx34pritl] {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.transaction-date[b-lhx34pritl] {
    font-size: 12px;
    color: #777;
}

.transaction-amount[b-lhx34pritl] {
    font-size: 14px;
    margin: 5px 0;
}

.positive[b-lhx34pritl] {
    color: green;
}

.negative[b-lhx34pritl] {
    color: red;
}

.transaction-description[b-lhx34pritl] {
    font-size: 12px;
    color: #555;
}