/* _content/PassKey.Login.MongoDb.Blazor.Server.UI/Pages/NavPages/Home.razor.rz.scp.css */
body[b-b0skl1ymxj] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}   

main[b-b0skl1ymxj] {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboard-blocks[b-b0skl1ymxj] {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}

.dashboard-icon[b-b0skl1ymxj] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.dashboard-header-block[b-b0skl1ymxj] {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; /* Add border to the entire block */
    border-radius: 5px;
}

.dashboard-child[b-b0skl1ymxj] {
    flex: 1;
    margin: 10px;
}

.dashboard-text[b-b0skl1ymxj] {
    font-size: 12px;
}

footer[b-b0skl1ymxj] {
    flex-shrink: 0;
    border-radius: 6px;
    padding: 20px;
    color: #fff;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: 100px;
}

    footer h4[b-b0skl1ymxj], footer h5[b-b0skl1ymxj] {
        color: inherit;
        font-size: inherit;
        margin: 0;
    }

.bold[b-b0skl1ymxj] {
    font-weight: bold;
    color: #71CCB2;
}

    a[b-b0skl1ymxj] {
        color: black;
    
    }

.grid-container[b-b0skl1ymxj] {
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.grid-item[b-b0skl1ymxj] {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.grid-graph[b-b0skl1ymxj] {
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 10px;
}
.grid-box-jobs[b-b0skl1ymxj] {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #F3F2F2;
    padding: 20px;

}

.grid-box-jobs p[b-b0skl1ymxj] {
    color: grey;
    font-size: 12px;
}
.grid-box-news[b-b0skl1ymxj] {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #F3F2F2;
    padding: 20px;
}

.logo-job[b-b0skl1ymxj] {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.logo-job img[b-b0skl1ymxj] {
        padding-right: 10px;
        height: 40px;
    }

.company-location[b-b0skl1ymxj] {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}
.job-info[b-b0skl1ymxj]
{
    display: flex;
    flex-direction: row;
}
.job-item[b-b0skl1ymxj]
{
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.job-pay[b-b0skl1ymxj] {
    color: #41EAA2;
    font-size: 18px;
    font-weight: bold;
}
.job-length[b-b0skl1ymxj] {
    color: #439AFF;
    font-size: 18px;
    font-weight: bold;
}
/* _content/PassKey.Login.MongoDb.Blazor.Server.UI/Pages/NavPages/MyAccount.razor.rz.scp.css */
.device-container[b-c3hupx1i80] {
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width: 30%;
    height: 100px;
    padding: 20px;
    flex-direction: column;
    margin-bottom: 30px;
   
}
.device-icon[b-c3hupx1i80]
{
    padding-right: 20px;
}

.device-actions[b-c3hupx1i80] {
    display: flex;
    
    
}

.current-device[b-c3hupx1i80] {
    background-color: lightblue;
    padding: 3px;
    width: max-content;
    border-radius: 5px;
    margin: auto;
    flex-direction: row;
    
}

/* _content/PassKey.Login.MongoDb.Blazor.Server.UI/Pages/NavPages/Payments.razor.rz.scp.css */
.page-container[b-lhx34pritl] {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.main-content[b-lhx34pritl] {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
}

.left-section[b-lhx34pritl] {
    flex: 1;
    padding-right: 20px;
}

.right-section[b-lhx34pritl] {
    flex: 1;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.balance-banner[b-lhx34pritl] {
    background: linear-gradient(to top right, #CE1FB7, #014BB7);
    padding: 20px;
   font-weight: bold;
    color: white;
    border-radius: 5px;
}
.available-balance[b-lhx34pritl] {
    font-size: 24px;
    color: white;
}
.receiver-section[b-lhx34pritl] {
    margin-top: 20px;
}

.receiver-list[b-lhx34pritl] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.receiver-circle[b-lhx34pritl] {
    width: 80px;
    height: 80px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.add-receiver[b-lhx34pritl] {
    background-color: #007bff;
    color: white;
}

.receiver-name[b-lhx34pritl] {
    font-size: 14px;
    margin-top: 5px;
    align-items: center;
}

.send-payment-section[b-lhx34pritl] {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.input-column[b-lhx34pritl] {
    flex: 1;
    padding: 20px;
}

.card-image[b-lhx34pritl] {
  
    background: linear-gradient(to top right, #CE1FB7, #014BB7);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 320px; 
    height: 200px;
    color: white;
}

    .card-image img[b-lhx34pritl] {
        max-width: 100px;
       
    }

    .card-user[b-lhx34pritl]{
       
    }

.transaction-list[b-lhx34pritl] {
    width: 300px;
    padding: 20px;
    
}

.transaction-item[b-lhx34pritl] {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.transaction-date[b-lhx34pritl] {
    font-size: 12px;
    color: #777;
}

.transaction-amount[b-lhx34pritl] {
    font-size: 14px;
    margin: 5px 0;
}

.positive[b-lhx34pritl] {
    color: green;
}

.negative[b-lhx34pritl] {
    color: red;
}

.transaction-description[b-lhx34pritl] {
    font-size: 12px;
    color: #555;
}
/* _content/PassKey.Login.MongoDb.Blazor.Server.UI/Pages/Register.razor.rz.scp.css */
body[b-l51jeygfym], html[b-l51jeygfym] {
    background-color: #FFFFFF;
}

h2[b-l51jeygfym] {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.white-text[b-l51jeygfym] {
    color: #FFFFFF;
    font-weight: bold;
}
.page-container[b-l51jeygfym] {
    display: flex;
    padding: 50px;
    background-color: #FFFFFF;
    height: 100vh;
}

.left-section[b-l51jeygfym] {
    flex: 2.5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8FAFC;
}

.logo[b-l51jeygfym] 
{
    width: 15vw;
    padding-bottom: 30px;
}

.right-section[b-l51jeygfym] {
    flex: 1;
    padding: 10px;
    background: linear-gradient(to bottom, #1DBED0, #3C84AC);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
 
}

.right-container[b-l51jeygfym] {
padding: 0px 40px;
}
.right-section img[b-l51jeygfym] {
    width: 300px;
    padding-bottom: 30px;
}

.register[b-l51jeygfym] {
    background-color: #FFFFFF;
    width: 40%;
    height: 60%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: solid 1px #EEEFF0;
}
.input-wrapper[b-l51jeygfym] {
    position: relative;
}

input[b-l51jeygfym] {
    border: 1px solid gray;
    border-radius: 6px;
    position: relative;
    width: 300px;
    margin-top: 10px;
    line-height: 6ex;
    padding-left: 10px;
    transition: border-color 0.3s;
}



.input-wrapper label[b-l51jeygfym] {
    position: absolute;
    top: 0.2ex;
    z-index: 1;
    left: 1em;
    background-color: white;
    padding: 0px 3px;
    font-size: 10px;
}


button[b-l51jeygfym] {
    width: 300px;
    background-color: #1DBED0;
    border: none;
}

    button:hover[b-l51jeygfym] {
        background-color: #3C84AC;
    }

    benefits-list[b-l51jeygfym] {
        display: flex;
        flex-direction: column;
    }

.benefits[b-l51jeygfym] {
    color: #FFFFFF;
    padding: 12px;
    font-weight: lighter;
   
}

/* Modal container styles */
.modal[b-l51jeygfym] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal content styles */
.modal-box[b-l51jeygfym] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: white;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   

}

.modal-content[b-l51jeygfym]
{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

    /* Optional: Style input and button within the modal */
    .modal-content input[b-l51jeygfym],
    .modal-content button[b-l51jeygfym] {
        margin: 10px 0;
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
    }

    .modal-content button[b-l51jeygfym] {
        background-color: #1DBED0;
        color: white;
        cursor: pointer;
    }

        .modal-content button:hover[b-l51jeygfym] {
            background-color: #3C84AC;
            
        }

/* Optional: Add animation for modal appearance */
@keyframes modalFadeIn-b-l51jeygfym {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal.show[b-l51jeygfym] {
    display: flex;
    animation: modalFadeIn-b-l51jeygfym 0.3s;
}

.prompt[b-l51jeygfym] {
    padding: 0px;
    font-size: 20px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.digit-group[b-l51jeygfym]
{
    margin: auto;
}

.digit-group input[b-l51jeygfym] {

    width: 40px;
    height: 50px;
    background-color: lightblue;
    border: none;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: Grey;
    margin: 0 2px;

}

.splitter[b-l51jeygfym] {
    padding: 0 5px;
    color: Grey;
    font-size: 24px;
}

.input-container-text[b-l51jeygfym] {
    display: flex;
    flex-direction: column;
}

.input-group-text[b-l51jeygfym] {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}

.input-group-text-label[b-l51jeygfym] {
    position: absolute;
    top: 0.2ex;
    z-index: 1;
    left: 1em;
   
    padding: 0px 3px;
    font-size: 10px;
    border: none;

}
/* _content/PassKey.Login.MongoDb.Blazor.Server.UI/Shared/MainLayout.razor.rz.scp.css */
.page[b-tk5888bvpd] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-tk5888bvpd] {
    flex: 1;
}

.sidebar[b-tk5888bvpd] {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
}

.top-row[b-tk5888bvpd] {
    /*background-color: #f7f7f7;*/
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
    align-content: center;
}

    .top-row[b-tk5888bvpd]  a, .top-row .btn-link[b-tk5888bvpd] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-tk5888bvpd] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-tk5888bvpd] {
        display: none;
    }

    .top-row.auth[b-tk5888bvpd] {
        justify-content: space-between;
    }

    .top-row a[b-tk5888bvpd], .top-row .btn-link[b-tk5888bvpd] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-tk5888bvpd] {
        flex-direction: row;
    }

    .sidebar[b-tk5888bvpd] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tk5888bvpd] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-tk5888bvpd], article[b-tk5888bvpd] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .user-initial-circle[b-tk5888bvpd] {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 40px;
        margin-left: 10px;
    }

}
/* _content/PassKey.Login.MongoDb.Blazor.Server.UI/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-qv1uwkja0s] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-qv1uwkja0s] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-qv1uwkja0s] {
    font-size: 1.1rem;
}

.oi[b-qv1uwkja0s] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-qv1uwkja0s] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-qv1uwkja0s] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-qv1uwkja0s] {
        padding-bottom: 1rem;
    }

    .nav-item[b-qv1uwkja0s]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-qv1uwkja0s]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-qv1uwkja0s]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-qv1uwkja0s] {
        display: none;
    }

    .collapse[b-qv1uwkja0s] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

img[b-qv1uwkja0s]
{
    width: 80px;
    align-items: center;
}
